
body {
 	margin: 0;
	padding-top: 5%;
	padding-bottom: 15%;
	background-image: #007fff;
	height: 100%;  
	font-family: "trebuchet ms";
   }
   h2{
   	background-color: #606c78;
   	color: white;
   }
   div-primary{
   	background-color: #606c78;
   }
.table{
   margin: 0 auto;
   width: 80%;
}
#submitMessage{
	float : right;
}

#containerMessage{
	max-width:40%;
}
